.container{
    background-color: rgb(232, 227, 227);
    padding: 10px;
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 20%;
}
.search{
    width: 35rem;
    height: 2.5rem;
    
}
.icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px rgb(129, 74, 74) solid;
}
  
    
.cart-icon{
    padding: 6px;
    width: 100%;
    color: rgb(0, 0, 0);
    background-color:#fff;
    
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    
}